.footer {
    justify-content: center;
    padding: 1em;
}

.list {
    margin-top: 4rem;
    list-style: none;
    justify-content: center;
    display: flex;
    margin-right: 2rem;
    gap: 3rem;
}

.footer a {
    color: white !important;
    text-decoration: none;
}

.footer p{
    text-align: center;
}


