.footer {
    justify-content: center;
    padding-bottom: 3rem;

    a {
        color: white !important;
        text-decoration: none;
        margin-top: 1rem;
    }

    p {
        text-align: center;
    }
}

.list {
    margin-top: 4rem;
    margin-bottom: 1rem;
    list-style: none;
    gap: 3rem;

    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .footer {
        padding-bottom: 2rem;

        a {
            color: white !important;
            text-decoration: none;
            margin-top: 1rem;
        }

        p {
            text-align: center;
        }
    }

    .list {
        margin-top: 2rem;
        margin-bottom: 1rem;
        list-style: none;
        gap: 1rem;

        display: flex;
        justify-content: center;
    }
}



