.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.list {
    list-style: none;
    display: flex;
    gap: 3rem;
    font-size: large;
}

.list2 {
    list-style: none;
    display: flex;
    margin-right: 2rem;
    gap: 3rem;
}

.navbar a {
    color: white !important;
    text-decoration: none;
}