.presentation {
  margin-top: 2rem;
  padding: 0 10rem;
  text-align: center;
  position: relative;
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 2s ease-out,
  transform 2s ease-out;

  .links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    p {
      margin: 0;
      padding: 0.125rem 0;
      font-size: small;
    }
  }

  h1 {
    text-align: left;
    font-size: 2rem;
    margin: 1rem 0;
  }

  a {
    text-decoration: none;
    color: var(--gray-900);
  }

  p {
    margin-bottom: 3rem;
    text-align: justify;
    border-radius: 10px;
    padding: 1rem 0.5rem;
  }

  &.animate {
    opacity: 1;
    transform: translateX(0);
  }

  .scrollIndicator {
    position: absolute;
    bottom: -3rem;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 40px;

    span {
      position: absolute;
      width: 0;
      height: 0;
      border-left: 0.5rem solid transparent;
      border-right: 0.5rem solid transparent;
      border-top: 1rem solid #fff;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      animation: jump 1s infinite;
    }
  }

  @keyframes jump {

    0%,
    100% {
      transform: translateX(-50%) translateY(0);
    }

    50% {
      transform: translateX(-50%) translateY(-10px);
    }
  }
}

@media (max-width: 768px) {
  .presentation {
    font-size: 1rem;
    padding: 0 1rem;

    h1 {
      font-size: 1.25rem;
      height: 1rem;
      margin: 1rem 0;
    }

    p {
      font-size: 0.875rem;
    }
  }
}