.projects{
    text-align: center;
    margin-top: 5rem;
    font-size: 1.9rem;

    h1{
        margin-left: 1rem;
    }
}

@media (max-width: 768px) {
    .projects {
        font-size: 1rem;

        div {
            width: 22rem;
            margin: 1rem 0;
            margin-left: 0.5rem;
        }
    }
}

