.projects {
  text-align: center;
  margin-top: 5rem;
  font-size: 1.9rem;

  h1 {
    margin-left: 1rem;
  }

  p {
    margin-top: 1rem;
    font-size: 1.25rem;
    text-align: justify;
    margin: 1rem 4rem;
    background-color: #29292988;
    border-radius: 10px;
    padding: 1rem 0.5rem;
  }
}

@media (max-width: 768px) {
  .projects {
    font-size: 1rem;
    margin: 0;
    padding: 0 1rem;

    div {
      margin: 1rem 0;
    }

    h1 {
      margin: 0;
    }

    p {
      padding: 0 1rem;
      font-size: 1rem;
      margin: 0;
    }
  }
}
