.btn {
    display: inline-block;
    background-color: #74FAC0;
    color: #01091C;
    font-size: 19px;
    font-weight: 700;
    border: 0;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 1rem;
}

.btn:hover{
    color: #74FAC0;
    background-color: #01091C;
    transition-duration: 0.5s;
    transform: translateY(-7px);
}