.btn {
    display: inline-block;
    background-color: #74FAC0;
    color: #01091C;
    font-size: 1.2rem;
    font-weight: 700;
    border: 0;
    border-radius: 10px;
    padding: 1.2rem 2.4rem;
    cursor: pointer;
    margin-left: 1rem;
}

.btn:hover{
    color: #74FAC0;
    background-color: #01091C;
    transition-duration: 0.5s;
    transform: translateY(-7px);
}

@media (max-width: 768px) {
    .btn {
        font-size: 0.75rem;
        padding: 0.6rem 1.2rem;
        text-align: center;
    }
}