.btn {
    display: inline-block;
    background-color: #74FAC0;
    color: var(--gray-900);
    font-size: 1.2rem;
    font-weight: 700;
    border: 0;
    border-radius: 10px;
    padding: 1rem 2.4rem;
    cursor: pointer;
    margin-left: 1rem;
}

.btn:hover{
    color: #74FAC0;
    background-color: var(--gray-900);
    transition-duration: 0.5s;
    transform: translateY(-7px);
    border: 2px solid #74FAC0;
    filter: drop-shadow(0px 4px 4px rgba(0, 255, 30, 0.449));
}

@media (max-width: 768px) {
    .btn {
        margin: 0;
        font-size: 0.75rem;
        padding: 0.6rem 0.5rem;
        text-align: center;
    }
}