.cards {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.cards section{
    background-color: #01091CBF;
    border-radius: 20px;
    margin-left: 3rem; 
    padding: 1rem;
    width: 20em;   
}

.cards h3 {
    font-size: 30px;
}

.cards p{
    font-size: 20px;
}

.cards img {
    border-radius: 20px;
    width: 18em;
    height: 10em;
}

.cards img:hover {
    transform: translateY(-7px);
    transition-duration: 0.5s;
}
